body{
	background-color: rgb(31,139,158);
}
#uno{
	width: 5%;
}
#dos{
	width: 3.5%;
}
#tres{
	width: 3.3%;
}
#cuatro{
	width: 6%;
}
#cuerpo{
	background-color: rgba(30,167,191,0.8);
	width: 50%;
	height: 300px;
	margin: 5% auto auto 25%;
}