body{
	background-color: rgb(31,139,158);
}
#uno{
	width: 10.5%;
	margin-left: 34%;
}
#dos{
	width: 3.5%;
	margin-top: 0.8%;
	position: absolute;
	margin-left: 2%;
}
#tres{
	width: 3.3%;
	position: absolute;
	margin-left: 8.6%;
	margin-top: 0.87%;
}
#cuatro{
	width: 6%;
	position: absolute;
	margin-left: 13.8%;
	margin-top: 0.32%;
}
#cuerpo{
	background-color: rgba(30,167,191,0.8);
	width: 50%;
	height: 300px;
	margin: 5% auto auto 23%;
	padding: 20px;
	border-radius: 8px;
	border: 1px solid grey;
}
#img{
	width: 50%;
	height: 200px;
	margin-left: 20%;	
}
p{
	display: block;
	margin-left: 46%;
	margin-top: 2.2%;
}
#perfil{
	border-radius: 500px;
	position: absolute;
	margin: 2.5% auto auto 3.5%;
	height: 214px;
	width: 200px;
}

